

body {
  font-size: 14px;
  font-family: sans-serif;
  background: #E5E5E5;
  margin: 0;
}

#head {
top: 0;
width: 100%;
height: 70px;
padding: 15px 5px 5px;
background: #383192;
}

#head b {
  position: relative;
font-family: Arial;
display: inline-block;
font-weight: bold;
font-size: 20px;
color: #FFFFFF;
}

#menu {
margin-bottom: 10px;
width: 100%;
background: #f8f9fa;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding: 10px;
overflow: show;
}

#menu-user {
margin-bottom: 10px;
width: 100%;
height: 70px;
background: #e8e9ea;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding: 10px;
overflow: show;
}

#side {
width: 16%;
height: 100%;
left: 0.5%;
background: #f8f9fa;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding: 5px;
}

#side-login {
  position: absolute;
width: 40%;
height: 100%;
left: 0.5%;
top: 70px;
background: #EfEFEF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding: 40px;
display: inline-block;
}

#main-login {
  position: absolute;
width: 60%;
height: 100%;
left: 40%;
top: 70px;
background: #FFFAFA;
}

#main-body {
  position: absolute;
width: 83%;
height: 100%;
left: 17%;
top: 155px;
background: #FFF;
padding: 0px;
margin: 5px;
}

.input-group-custom {
  background-color: white !important;
  border-color: white !important;
}
.inline {
  display: inline-block;
}

.nav-custom {
  margin-left: 3%;
}
.nav-custom a {
  font-size: 17px !important;
  font-weight: bold;
  min-height: 30px;
  margin-bottom: 15px;
  border-bottom: 1px #ddd solid;
}
.nav-custom i {
  font-size: 29px !important;
  font-weight: bold;

}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mt-20 {
  margin-top: 20px;
}

#map {
  height: 100%;
}
.pac-container:after{display:none !important;}

.omenu {
  margin-left: 7rem;
  margin-top: 6px;
}
.omenu span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 3.5rem;
}

.custom-login-body {
  margin-top: 30%;
}

.form-noborder {
  border: 0 !important;
  border-bottom: 1px #74c solid !important;
  border-radius: 0 !important;
  background: #F0EFEF !important;
  margin-top: 20px;
}

.form-noborder:focus {
  border-bottom: 1px #2f2 solid !important;
}

.login-btn {
  border-radius: 10px !important;
  margin-top: 30px;
}

.panel {
  border: 1px #ddd solid;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 98%;
  height: 100%;
}
.panel-heading {
  padding: 10px;
  border-bottom: 1px #ddd solid;
}
.panel-body {
  padding: 10px;
}
.logo {
  height: 40% !important;
  width: 50% !important;
}
.custom-nav-link {
  padding: 0.5rem 10rem !important;
}
.f-right {
  float: right !important;
}
.card-top {
  width: 100%;
  min-height: 200px;
  background-color: #444;
}
.card-top hr {
  border: 1px #fff solid !important;
}
.bg-none {
  background-color: #fff !important;
  font-weight: bold !important;
  color: #000 !important;
}

.round {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 1px;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
}

.round-bg {
  width: 60px !important;
  height: 60px !important;
  text-align: center;
  padding: 1px;
  font-size: 40px !important;
  color: #fff;
  border-radius: 100%;
}
.center {
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.welcome {
  margin: 5px;
  text-align: center;
}
.welcome hr {
  width: 50%;
  border-bottom: red 2px solid;
}
.panel-heading  {
  border-left: 4px #22f solid;
}
.mobile_nav {
  display: none;
}
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100% !important;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
@media screen and (max-width:767px) {
  body {
    font-size: 80% !important;
  }

  h2 {
  font-size: 24px !important;
}
  h3 {
  font-size: 22px !important;
}
  h4 {
  font-size: 20px !important;
}
h5 {
font-size: 18px !important;
}
h6 {
font-size: 16px !important;
}
  #side-login {
    position: absolute;
  width: 100% !important;
  height: 100%;
  background-color: #fff !important;
  }
  #main-login {
    display: none !important;
  }
  #me {
    display: none !important;
  }
  #side {
    display: none !important;
  }
  #main-body {
  position: relative !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  padding-right: 10px !important;
  }
  #head {
    display: none !important;
  }
  .panel {
    width: 100% !important;
    margin: 5px !important;
  }
  .nav-item {
    margin: 0 15px !important;
    padding: 5px 10px !important;
    font-weight: bold !important;
    font-size: 18px !important;
    border-bottom: 1px #ddd solid;
  }
  li:hover {
    font-size: 20px !important;

  }
  .bars {
    margin: 5px 10px;
    font-size: 35px;
  }
  .mobile_nav {
    display: block;
  }
}

body.offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
  top: 10%;
	height: 100%;
  width:0%;
	z-index: 30;
	position: fixed; top: 0; right: 0;
	opacity:0; visibility:hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
    top: 70px;
	z-index:10;
	transition:opacity .3s ease, width 0s;
	opacity:1;
	width:100%;
	visibility:visible;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {

	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
		border-radius:0;
		display:block;
		position: fixed;  top: 8px;
    left: -10px;
		height: 100%;
    width:80%;
		z-index: 1200;
		overflow-y: scroll;
		overflow-x: hidden;
		transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible; 	transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}
  .navbar-collapse{
    height: 500px !important;
  }

}
